version: '3.8'

services:
  backend:
    image: violturorg/startup-backend:latest
    container_name: backend
    restart: always
    pull_policy: always
    depends_on:
      - dataBase
    env_file:
      - .env
    networks:
      - app-net

  frontend:
    image: violturorg/qr-frontend:latest
    container_name: frontend
    restart: always
    volumes:
      - frontend_data:/usr/share/nginx/html
    networks:
      - app-net

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d:ro
      - frontend_data:/usr/share/nginx/html:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-net

  dataBase:
    image: postgres:17
    container_name: postgres17Dev
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-net

volumes:
  postgres_data:
  frontend_data:

networks:
  app-net:
    driver: bridge