version: '3.8'

services:
  backend:
    image: violturorg/startup-backend:latest
    container_name: backend
    restart: always
    pull_policy: always
    depends_on:
      - dataBase
    env_file:
      - .env
    networks:
      - app-net

  dataBase:
    image: postgres:17
    container_name: postgres17Dev
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
    driver: bridge