name: Remote Dispatch Deploy

on:
  push:
    branches: [ main ] # або master, залежно від вашої головної гілки

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.HIKINO_KEYAWS }}
          script: |
            cd ~/project startUp
            git pull origin main
            docker-compose up -d --build